In [ ]:
Task 1

In [2]:
#Question 1

1+2

3

In [4]:
#Question 2

a=list(range(2000,3201))
b=[]
for i in a:
    if (i%7)==0 and (i%5)!=0:
       b.append(str(i))
print (','.join(b))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [5]:
#Question 3

first_name=input("Type your first name\t")
last_name=input("Type your last name\t")
#print('Your name in reverse order')
print('Your name in reverse order\t'+last_name +' '+ first_name)

Type your first name	Swetapadma
Type your last name	Mishra
Your name in reverse order	Mishra Swetapadma

In [7]:
#Question 4

import math
r=12
v=4/3*(math.pi)*r**3
print (v)

7238.229473870882

In [ ]:
Task 2

In [13]:
#Question 1

a=input("please enter comma separated sequence of numbers\t")
b=a.split(',')
print(b)

please enter comma separated sequence of numbers	1,2,3,4
['1', '2', '3', '4']

In [10]:
#Question 2

n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end ='')
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [11]:
#Question 3

word=input("please enter a word\t")
print(word[::-1])

please enter a word	AcadGild
dliGdacA

In [14]:
#Question 4

print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens